ul.list-actors {
  list-style-type: none;
  padding-left: 0;
}

ul.list-actors li {
  padding: .4rem 0;
  display: flex;
}

ul.list-actors li:hover {
  background-color: #efefef;
}

ul.list-actors .name-actor {
  margin-right: 1.5rem;
  flex-grow: 1;
}

ul.list-actors .name-character {
  margin-right: .8rem;
}

ul.list-actors .spacer {
  width: 4rem;
}

