.list-actors {
  list-style-type: none;
  padding-left: 0;
  min-width: 50%;
  max-width: 75%;
}

.list-actors li {
  padding: 0.4rem 0;
  display: flex;
  justify-content: space-between;
}

.name-character {
  margin-right: 0.8rem;
  margin-left: 0.3rem;
}

.list-actors .spacer {
  width: 4rem;
}
