html, body {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > div {
  margin-bottom: 20%;
}

.title {
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  margin-bottom: 50px;
  display: block;
  color: #000;
  text-decoration: none;
}

.title .MuiTypography-root {
  text-decoration: none;
}

body {
  font-family: 'Lato';
}

.layout-2-col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout-2-col::after {
  display: block;
  content: '';

}

.layout-2-col .section-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.recently-saved {
  /* max-height: 30rem;
  overflow-y: auto; */
}

.recently-saved .recently-saved-title {
  margin-bottom: 2rem;
}

.record-detail .record-detail-title {
  margin-bottom: 2.2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

ul.generic {
  list-style-type: none;
  padding-left: 0;
  margin-left: -.5rem;
  margin-top: 0;
}

ul.generic li:hover {
  background-color: #efefef;
}

ul.generic a {
  display: block;
  padding: .2rem 10% .3rem .5rem;
  text-decoration: none;
  width: max-content;
}

.record-detail {
  flex: 1;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 9px;
  min-width: 22rem;
}

.form-person-edit {
  border: 1px solid #000;
}

.MuiContainer-root.MuiContainer-maxWidthLg {
  width: max-content;
}

.form-project-members {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
}

.form-project-edit {
  display: flex;
  flex-flow: column;
}

.form-project-edit .title .MuiInput-input {
  font-size: 2rem;
}

.btn-add,
.btn-add-title {
  align-self: flex-start;
}
