.Auth {
  margin: 10rem auto;
  width: 80%;
  text-align: center;
  border: 1px solid #000;
  border-radius: 9px;
  padding: 2rem;
  box-sizing: border-box;
}

.title-bar {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.fields {
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .Auth {
    width: 300px;
  }
}
